spring:
  application:
    name: workora

  datasource:
    url: jdbc:postgresql://localhost:5432/workora_db
    username: postgres
    password: postgres123

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
